@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

body{
    font-size: 16px;
}

_:-ms-lang(x), body{ 
    font-size: 13px;
}

html, .black{
    color: #333333;
}

.strong{
    font-weight: 600;
}

.allcaps{
    text-transform: uppercase;
}

.text-secondary{
  color: #777777;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 90%;
}

.header-child{
  margin: 1.3em 0 1.3em;
  max-width: 50%;
}

.header-child img{
  min-width: 150px;
  width: 80%;
}

.header-contact{
    display: none;
}

.nav-menu{
    font-size: 0.8em;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

/* change to darker greys */

.nav-menu :nth-child(odd){
    color: #FFF;
    background-color: #5C5C5C;
}

.nav-menu :nth-child(even){
    color: #FFF;
    background-color: #616161;
}

a.nav-menu-item{
    display: block;
    text-decoration: none;
    padding: 0.8em;
}

.nav-menu-item:hover{
    background: #6EC7FF;
    transition: 0.5s;
}

.nav-tab-open{
    display: block;
}

.nav-tab-closed{
    display: none;
}

.tab{
  color: #FFF;
  font-weight: 600;
  text-transform: uppercase;
}

.link{
  color: #65B7EB;
  padding-bottom: 0.2em;
  border-bottom: 0.1em solid rgba(0,0,0,0);
  text-decoration: none;
}

.main-p{
  font-size: 0.8em;
  margin-bottom: 1vh;
}

.nav-tab{
  background-color: #65B7EB;
  font-size: 0.7em;
  padding: 3vw;
}

#bannerImg{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #E3E1E1;
  position: relative;
  display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  height: 50vw;
  width: 100%;
}

.quote-container{
  color: #FFF;
  margin: 0 1em 1em 0;
  text-align: right;
  width: 60%;
}

#quote{
  font-size: 0.6em;
  font-style: italic;
}

#slideName{
  font-size: 0.6em;
  margin-top: 0.6em;
  text-transform: uppercase;
}

.drop-shadow{
  background-color: #000;
  display: none;
  position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.close-icon{
  font-size: 1.3em;
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
    top: 3vw;
    right: 3vw;
}

.image-modal{
  display: flex;
    justify-content: space-around;
    align-items: center;
  margin: auto;
  text-align: center;
  width: 90%;
  margin: auto;
}

_:-ms-lang(x), .image-modal{ 
    display: block;
}

_:-ms-lang(x), .chevron{
    position: fixed;
}

_:-ms-lang(x), .chevron-left{
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
}

_:-ms-lang(x), .chevron-right{
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

.image-modal img{
  max-height: 90%;
  max-width: 90%;
}

_:-ms-lang(x), .image-modal img {
    max-height: 90vh;
    max-width: 80%;
    position: absolute;
        top: 50%;
        left: 50%;
    transform: translate(-50%, -50%);
}

.image-modal .chevron{
  display: block;
  color: #FFF;
}

.wrapper{
  margin: 5vh auto 5vh auto;
  width: 80%;
}

.wrapper-gallery{
  margin: 1.3em auto 2em auto;
  width: 80%;
}

.heading{
  font-weight: 200;
  margin-bottom: 0.5em;
}

.mid-heading{
  margin-top: 4vh;
}

.flavour-text{
  color: #777777;
  font-style: italic;
  margin-bottom: 2em;
}

.tours-box{
  border: 1px solid #65B7EB;
  color: #777777;
  margin: 2em auto 4em auto;
}

.tours-tab{
  background-color: #65B7EB;
  display: flex;
    justify-content: space-between;
    align-items: center;
  padding: 2vw 7vw;
}

.wrap-text{
    display: block;
}

.tours-tab i{
  font-size: 1.5em;
}

.tour-block{
  margin: 5vh auto;
  width: 85%;
}

.tours-tab-open{
  display: block;
}

.tours-tab-closed{
  display: none;
}

.tour-block-title-flex{
  display: flex;
    justify-content: space-between;
  font-size: 0.75em;
  font-weight: 600;
  text-transform: uppercase;
}

.link:hover{
   border-bottom: 0.1em solid #65B7EB;
    transition: 0.1s;
}

.tour-block p{
  font-size: 0.76em;
  margin-top: 1vh;
}

.profile-photo{
    display: block;
  margin: 2em auto 0 auto;
  max-width: 100%;
}

.tour-status{
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.tour-info{
    font-style: italic;
    font-weight: 600;
}

.itinerary-box{
    border: 1px solid #65B7EB;
    max-width: 350px;
    margin: 2em auto;
}

.itinerary-box-title{
    background-color: #65B7EB;
    color: #FFF;
    padding: 1vw;
    text-align: center;
}

.itinerary-link{
    color: #65B7EB;
    display: block;
    font-size: 0.9em;
    padding: 3vw 4vw;
}

.preview-photos-wrapper{
    display: flex;
        justify-content: space-between;
}

.preview-photo{
    height: 6em;
    width: 6em;
    max-width: 24vw;
    max-height: 24vw;
    background: #e3e3e3;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery-link{
    color: #65B7EB;
    display: block;
    font-style: italic;
    font-weight: 600;
    margin-top: 1em;
    text-decoration: none;
}

.gallery-title{
  display: flex;
    justify-content: space-between;
  align-items: center;
  font-size: 1em;
  text-transform: uppercase;
}

.gallery-title a:link, .gallery-title a:active, .gallery-title a:visited, .gallery-title a:hover{
  color: inherit;
}

hr.gallery-divider{
  margin: 1em 0 1.3em 0;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #C7C5C5, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #C7C5C5, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #C7C5C5, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #C7C5C5, #f0f0f0);
}

#gallery{
  margin: 0 auto;
  width: 80vw;
}


@media only screen and (min-width: 320px){
  #gallery{
    min-width: 280px;
  }
}

@media only screen and (min-width: 350px){
  #gallery{
    min-width: 300px;
  }
}

@media only screen and (min-width: 375px){
  #gallery{
    min-width: 320px;
  }

  #quote{
    font-size: 0.8em;
  }

  #slideName{
    font-size: 0.8em;
    margin-top: 0.8em;
  }

}

.gallery-img{
  object-fit: cover;
  cursor: pointer;
  height: 26vw;
  width: 26vw;
}

.footer{
  background-color: #5C5C5C;
  color: #FFF;
  font-size: 0.9em;
  padding: 2em 1.5em 1.5em 1.5em;
}

.contact-details{
  display: flex;
    justify-content: flex-start;
    align-items: center;
  margin-left: 1em;
  margin-top: 1em;
}

.contact-icon{
  margin-right: 1em;
}

.contact-text{
  font-size: 0.7em;
}

.sm-icons{
  display: flex;
    justify-content: space-between;
  font-size: 2.5em;
  margin: 1em auto;
  width: 50%;
}

.sm-icons a:link, .sm-icons a:visited{
    color: inherit;
}

.sm-icons a:active, .sm-icons a:hover{
    color: #65B7EB;
    transition: 0.3s;
}

.copyright-text{
  color: #A8A8A8;
  font-size: 0.6em;
  margin-top: 1.5em;
  text-align: center;
}

@media only screen and (min-width: 500px) {

    .header-child{
      font-size: 1.3em;
      max-width: 70%;
    }

    .nav-menu{
        font-size: 1em;
    }

    .heading{
        font-size: 2.4em;
    }

    .main-p{
      font-size: 1em;
      margin-bottom: 2vh;
    }

    #bannerImg{
      height: 40vw;
    }

    .quote-container{
      margin: 0 1.5em 1.5em 0;
    }

    .tours-box{
        width: 80%;
    }

    .tours-tab{
        font-size: 1.5em;
    }
    
    .wrap-text{
        display: inline;
    }

    .tour-block p{
        font-size: 1em;
    }

    .tour-block-title{
        font-size: 1.3em;
    }

    .tour-block-title{
        font-size: 1.3em;
    }

    .itinerary-box{
        font-size: 1.3em;
    }

    .preview-photo{
        height: 22vw;
        width: 22vw;
    }

    .footer{
        font-size: 1.1em;
    }

    .sm-icons{
        font-size: 2.5em;
        max-width: 120px;
        width: 30%;
    }

}

@media only screen and (min-width: 1024px) {

    .header-child{
      margin: 1em 0 1em 0;
    }

    .nav-button{
        display: none;
    }

    .header-contact{
        display: block;
        text-align: right;
    }

    .header-contact-text{
        font-size: 0.8em;
        margin-bottom: 0.3em;
    }

    .header-sm{
        font-size: 1.3em;
    }

    .header-sm a{
        margin-left: 0.5em;
    }

    .header-sm a:link, .header-sm a:active, .header-sm a:visited{
        color: inherit;
    }

    .header-sm a:hover{
        color: #65B7EB;
        transition: 0.3s;
    }

    .nav-menu{
        display: flex;
        font-size: 1em;
    }

    .nav-menu-item{        
        font-size: 1vw;
        padding: 2em;
        flex: 1;
    }

    a.nav-menu-item{
        text-decoration: none;
        padding: 2em;
    }

    #bannerImg{
        height: 25vw;
    }

    .quote-container{
      background-color: rgba(255, 255, 255, 0.7);
      margin: 0;
      height: 100%;
      width: 40%;
    }

    .quote-wrapper{
      color: #333333;
      padding: 25% 5%;
    }

    #quote{
      font-size: 1em;
    }

    #slideName{
      font-size: 1em;
      margin-top: 1em;
    }

    .image-modal img{
      max-height: 60vw;
      max-width: 80%;
    }
    
    _:-ms-lang(x), .image-modal img{
        max-height: 90vh;
        max-width: 80%;
    }

    .image-modal .chevron{
      cursor: pointer;
      font-size: 1.5em;
    }

    .close-icon{
      cursor: pointer;
      font-size: 1.7em;
    }

    .heading{
        font-size: 3em;
    }

    .wrapper{
        max-width: 1250px;
    }

    .main-content-index{
        display: flex;
            justify-content: space-between;
            align-items: center;
    }

    .main-content-tours{
        display: flex;
            justify-content: space-between;
    }

    .left-text{
        width: 50%;
    }

    .col-right{
        margin-left: 5em;
    }

    .margin-right{
        margin-right: 2em;
    }

    .margin-left{
        margin-left: 2em;
    }

    .reverse-flex{
        flex-direction: row-reverse;
    }

    .separator{
        border-bottom: 1px solid #c8c8c8;
        width: 80%;
        margin: 4em auto;
    }

    .tours-box{
        margin: 0;
        width: 429px;
    }
    
    _:-ms-lang(x), .tours-box{
        width: 379px;
    }

    .tours-tab{
        justify-content: center;
        padding: 0.5em;
    }

    .tours-tab :nth-last-child(1){
        display: none;
    }

    .tours-tab-open{
        max-height: 500px;
        overflow-y: scroll;
    }

    _:-ms-lang(x), .tours-tab-open{
            max-height: 450px;
    }

    .itinerary-box{
        border: 1px solid #65B7EB;
        max-width: 350px;
        margin: 2.5em 0 0 0;
    }

    .itinerary-box-title{
        background-color: #65B7EB;
        color: #FFF;
        padding: 1vw;
        text-align: center;
    }

    .itinerary-link{
        font-size: 0.9em;
        padding: 2em 2em;
    }

    .preview-photos-wrapper{
        display: block;
    }

    .preview-photo{
        margin: 1em 0;
        width: 14em;
        height: 14em;
    }

    .gallery-link{
        margin-top: 1.2em;
        text-align: center;
    }

    .gallery-img{
      height: 20vw;
      width: 20vw;
    }

    .gallery-title{
      display: flex;
        justify-content: flex-start;
      align-items: center;
      font-size: 1.2em;
      text-transform: uppercase;
      margin: auto;
      width: 77%;
    }

    .gallery-title a{
      margin-right: 1em;
    }

    hr.gallery-divider{
      margin: 1.3em 0 2em 0;
    }

    #gallery{
      margin: 0 auto;
      width: 61vw;
    }

    .footer{
        margin-top: 7em;
        padding: 4em 7.5vw 1em 7.5vw;
    }

    .sm-icons{
        justify-content: flex-end;
        margin: -1em 0 0 0;
        max-width: none;
        width: 100%;
    }

    .sm-icons :first-child{
        margin-right: 1em;
    }

    .copyright-text{
        margin-top: 4em;
    }

}
