*{
  font-family: arial;
  margin: 0;
  padding: 0;
}

html, .black{
    color: #333333;
}

.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-child{
  margin: 5% 0 5% 0;
  max-width: 50%;
}

.header-child img{
  min-width: 150px;
  width: 80%;
}

.nav-menu{
    font-size: 0.8em;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

/* change to darker greys*/

.nav-menu :nth-child(odd){
    color: #FFF;
    background-color: #5C5C5C; // light alt #C4C4C4
}

.nav-menu :nth-child(even){
    color: #FFF;
    background-color: #616161; // light alt #BDBDBD
}

.nav-menu-item{
    padding: 0.8em;
}

.nav-tab-open{
    display: block;
}

.nav-tab-closed{
    display: none;
}

.tab{
  color: #FFF;
  font-weight: 600;
  text-transform: uppercase;
}

.link{
  color: #65B7EB;
  text-decoration: none;
}

.main-p{
  font-size: 0.8em;
  margin-bottom: 1vh;
}

.nav-tab{
  background-color: #65B7EB;
  font-size: 0.7em;
  padding: 3vw;
}

.banner-img{
  height: 40vw;
  width: 100vw;
  background-image: url("http://www.eurolinktours.co.nz/images/Adriatic_with_quote.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #EB8944;
  position: relative;
}

.wrapper{
  margin: 5vh auto 5vh auto;
  width: 80%;
}

.heading{
  font-weight: 200;
  margin-bottom: 2vh;
}

.mid-heading{
  margin-top: 4vh;
}

.flavour-text{
  color: #777777;
  font-style: italic;
  margin-bottom: 4vh;
}

.tours-box{
  border: 1px solid #65B7EB;
  color: #777777;
  margin: 0 auto 4vh auto;
}

.tours-tab{
  background-color: #65B7EB;
  display: flex;
    justify-content: space-between;
    align-items: center;
  padding: 2vw 7vw;
}

.tours-tab i{
  font-size: 1.5em;
}

.tour-block{
  margin: 5vh auto;
  width: 85%;
}

.tours-tab-open{
  display: block;
}

.tours-tab-closed{
  display: none;
}

.tour-block-title-flex{
  display: flex;
    justify-content: space-between;
  font-size: 0.75em;
  font-weight: 600;
  text-transform: uppercase;
}

.tour-block p{
  font-size: 0.76em;
  margin-top: 1vh;
}

.profile-photo{
    display: block;
  margin: 1em auto 0 auto;
  max-width: 100%;
}

.tour-info{
    font-style: italic;
    font-weight: 600;
}

.itinerary-box{
    border: 1px solid #65B7EB;
    max-width: 350px;
    margin: 2em auto;
}

.itinerary-box-title{
    background-color: #65B7EB;
    color: #FFF;
    padding: 1vw;
    text-align: center;
}

.itinerary-link{
    color: #65B7EB;
    display: block;
    font-size: 0.9em;
    padding: 3vw 4vw;
}

.preview-photos-wrapper{
    display: flex;
        justify-content: space-between;
}

.preview-photo{
    height: 6em;
    width: 6em;
    background: #e3e3e3;
}

.gallery-link{
    color: #65B7EB;
    display: block;
    font-style: italic;
    font-weight: 600;
    margin-top: 1em;
    text-decoration: none;
}

.footer{
  background-color: #5C5C5C;
  color: #FFF;
  font-size: 0.9em;
  padding: 2em 1.5em 1.5em 1.5em;
}

.contact-details{
  display: flex;
    justify-content: flex-start;
    align-items: center;
  margin-left: 1em;
  margin-top: 1em;
}

.contact-icon{
  margin-right: 1em;
}

.contact-text{
  font-size: 0.7em;
}

.sm-icons{
  display: flex;
    justify-content: space-between;
  font-size: 2.5em;
  margin: 1em auto;
  width: 50%;
}

.copyright-text{
  color: #A8A8A8;
  font-size: 0.6em;
  margin-top: 1.5em;
  text-align: center;
}

@media only screen and (min-width: 768px) {
    
    .header-child{
      font-size: 1.3em;
      max-width: 70%;
    }
    
    .nav-menu{
        font-size: 1em;
    }
    
    .heading{
        font-size: 2.4em;
    }
    
    .main-p{
      font-size: 1em;
      margin-bottom: 2vh;
    }
    
    .tours-box{
        width: 80%;
    }
    
    .tours-tab{
        font-size: 1.5em;
    }
    
    .tour-block p{
        font-size: 1em;
    }
    
    .tour-block-title{
        font-size: 1.3em;
    }
    
    .tour-block-title{
        font-size: 1.3em;
    }
    
    .itinerary-box{
        font-size: 1.3em;
    }
    
    .preview-photo{
        height: 12em;
        width: 12em;
    }
    
    .footer{
        font-size: 1.1em;
    }
    
    .sm-icons{
        font-size: 3.5em;
        width: 40%;
    }
    
}

@media only screen and (min-width: 1024px) {
    
    .header-child{
      margin: 1em 0 1em 0;
    }
    
    .header-child:last-of-type{
        opacity: 0;
    }
    
    .nav-menu{
        display: flex;
        font-size: 1em;
    }
    
    .nav-menu :nth-child(odd), .nav-menu :nth-child(even){
        background: #65B7EB;
    }
    
    .nav-menu-item{
        border-right: solid 0.001em #6EC7FF;
        padding: 2em;
        flex: 1;
    }
    
    .nav-menu-item:hover{
        background: #6EC7FF;
    }
    
    .banner-img{
        height: 25vw;
        width: 100vw;
    }
    
    .heading{
        font-size: 3em;
    }
    
    .main-content{
        position: relative;
        height: 35em;
    }
    
    .flavour-text{
        width: 40%;
    }
    
    .main-p{
        width: 60%;
    }
    
    .tours-box{
        top: 0;
        right: 0;
        position: absolute;
        margin-left: 2em;
        width: 35%;
    }
    
    .tours-tab{
        justify-content: center;
        padding: 0.5em;
    }
    
    .tours-tab :nth-last-child(1){
        display: none;
    }
    
    .tours-tab-open{
        max-height: 30em;
        overflow-y: scroll;
    }
    
    .tour-block p{
    }
    
    .tour-block-title{
    }
    
    .tour-block-title{
    }
    
    .itinerary-box{
    }
    
    .preview-photo{
    }
    
    .footer{
    }
    
    .sm-icons{
    }
    
}

/* PLAN

- give main-content padding so that content sits centered
- use em
- use position for box content

*/

/*

FIX SIDE SCROLL, VW ISSUE???
